html * {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	width: 1280px;
	height: 720px;
	font-family: SimHei;
	overflow: hidden;
}
img {
	border: none;
}
a {
	outline: none;
	text-decoration: none;
}