.detail-container {
    position: relative;
    top: 111px;
}
.detail-content{
	position: absolute;
	top:0;
	left:50px;
}
.detail-content .text{
	font-size: 34px;
	display: block;
	color: #000;
}
.text-border{
    position: absolute;
    top: 75px;
    width: 206px;
    height: 255px;
    line-height: 85px;
    text-align: center;
}
.text-border a:focus{
	color: #f5a817;
}
.show-city{
	position: absolute;
	left:257px;
	top:0;
	text-indent: 38px;
	height: 52px;
	width: 500px;
	font-size: 42px;
	background: url(../images/icon-city.png) no-repeat;
}
.show-county{
	font-size: 28px;
	text-align: center;

}
.list-container{
	position: absolute;
	top:75px;
	left:206px;
	width: 974px;
	height:427px;
	background: url(../images/list-bg.png) no-repeat;
}
.detail-content .county .list{
	width: 940px;
	margin-left: 35px;
/*	margin-right: 35px;*/
	font-size: 28px;
/*	text-align: center;*/
	float: left;
	
}
.detail-content .county .list li{
	position: relative;
    padding-top:38px;
    font-size: 22px;
    margin-right: 35px;
}