.detail-container {
    position: absolute;
    top: 111px;
}
.detail-content{
	position: absolute;
	top:0;
	left:50px;
}
.detail-content .disp{
	display: block;
	float: right;
	margin-top: 45px;
}
.detail-content .bg-county,.bg-trend,.bg-expon{
	width: 135px;
	height: 35px;
}
.detail-content .bg-county{
	background: url(../images/county.png) no-repeat;
}
.detail-content .bg-trend{
	background: url(../images/trend.png) no-repeat;
}
.detail-content .bg-expon{
	background: url(../images/expon.png) no-repeat;
}
.detail-content .bg-county:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-county.png) no-repeat;
}
.detail-content .bg-trend:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-trend.png) no-repeat;
}
.detail-content .bg-expon:focus{
	width: 135px;
    height: 35px;
	background: url(../images/focus-expon.png) no-repeat;
}
.text-border{
    position: absolute;
    top: 75px;
    width: 206px;
    height: 255px;
    line-height: 85px;
    text-align: center;
}
.show-city{
	position: absolute;
	left:206px;
	top:0;
	padding-left: 38px;
	height: 52px;
	width: 500px;
	font-size: 42px;
	background: url(../images/icon-city.png) no-repeat;
}
.show-county{
	font-size: 28px;
	text-align: center;
}
.transparent-bg{
    top: 50px;
    left: 206px;
    width: 974px;
    height: 427px;
    background: url(../images/list-bg.png) no-repeat;
    position: absolute;
}
.detail-content .county .list{
	width: 940px;
	margin-left: 35px;
	font-size: 28px;
    margin-bottom: 30px;
}
.detail-content .county .list li{
	position: relative;
    font-size: 22px;
    text-align: center;
    margin-right: 35px;
    margin-top: 30px;
}
.list-container .list  .change,.temper{
	overflow: hidden;
	line-height: 27px;
}
.con-footer{
	width: 1000px;
	left:100px;
}
.con-footer a{
	margin-right: 5px;
	width: 20%;
}
/*趋势部分*/
.trend-day{
	font-size: 28px;
	text-align: center;
}
.trend .list li{
	position: relative;
    text-align: center;
    margin-top: 38px;
    font-size: 28px;
    width: 105px;
    height: 363px;
    margin-right: 15px;
    margin-left: 58px;
}
.trend-weather{
	text-align: center;
	font-size: 30px;
	overflow: hidden;
}
.min-temp ,.max-temp{
position: absolute;
bottom: 0;
width: 50px;
text-align: center;
}
.min-temp {
	background: url(../images/min-temp.png);
}
.max-temp {
	margin-left: 50px;
	background: url(../images/max-temp.png);
}
/*指数部分*/
.expon .list li{
	position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    overflow: hidden;
    width: 112px;
    height: 142px;
    margin-right: 50px;
    margin-left: 25px;
}
.expon-weather{
	text-align: center;
	font-size: 28px;
	padding: 7px 0;
	overflow: hidden;
}
.situation{
	font-size: 24px;
	color: #646464;
	overflow: hidden;
}
