.city-container {
	position: absolute;
	top:48px;
	left:100px;
	width: 1080px;
}
.city-container .column{
    height: 81px;
    line-height: 81px;
	font-size: 42px;
	color: #195b90;
	overflow: hidden;
}
.city-content{
	position: absolute;
	top:102px;
	left:-8px;
    font-size: 0;
    width: 1185px;
    /*text-align: center;*/
}
.btn-city{
	float: left;
    position: relative;
	display: table;
	width: 220px;
	height: 130px;
	/*line-height: 38px;*/
	/*font-size: 30px;*/
	/*color:#ffffff;*/
	text-align: center;
	background: url(../images/btn-city.png) no-repeat;
}
.btn-city .sub {
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	color:#ffffff;
}
.btn-city:focus:before{
	content: "";
	position: absolute;
	width: 220px;
	height: 130px;
	background: url(../images/focus-btn-city.png);
}
#controller .con-footer{
	width: 1000px;
	position: absolute;
	left:272px;
}
#controller .con-footer a:first-child{
	width: 28%;
}
#controller .con-footer a{
	width: 10%;
	margin-left:5px;
}
#controller .con-footer a:last-child{
	width: 30%;
}
.border .food-list .food-border a{
	width: 360px;
	display: inline-block;

}