<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>气象生活</title>
	<link rel="stylesheet" href="../public/css/common.css" />
	<link rel="stylesheet" href="../public/css/weather-life.css" />
	<script src="../public/js/template.js"></script>
</head>
<body style="background: url('../public/images/bg-duoyun.jpg') no-repeat;">
	<div id="root"></div>
	<script src="../public/js/common.js"></script>
	<script src="../public/js/pagination.js"></script>
	<script id="templateId" type="text/html">
		<div id="header">
			<div class="header-nav">
				{{each headers as v i}}
					<span id="nav{{i+1}}" class="nav-{{i+1}} {{if v.active}}active{{/if}}"></span>
				{{/each}}
			</div>
		</div>
		<div class="weather-life-container">
			{{if lists.length}}
				<div class="prev"></div>
				<div id="listTpl" class="weather-life-body"></div>
				<div class="next"></div>
			{{else}}
				<div style="text-align: center;font-size: 48px;color: #0a0a0a;margin-top: 166px">暂无内容，敬请期待。</div>
			{{/if}}
		</div>
		<div id="footer">
			<div class="footer-menu">
				<span id="menu1" class="menu-1"></span>
				<span id="menu2" class="menu-2"></span>
				<span id="menu3" class="menu-3"></span>
				<span id="menu4" class="menu-4"></span>
			</div>
		</div>
		<div id="controller">
			<div class="con-header">
				{{each headers as v i}}
					<a href="{{v.href}}" onfocus="addFocus('#nav{{i+1}}')" onblur="removeFocus('#nav{{i+1}}')"><img src="../public/images/dot.gif" /></a>
				{{/each}}
			</div>
			<div class="con-footer">
				{{each footers as v i}}
					<a href="{{v.href}}" onfocus="addFocus('#menu{{i+1}}')" onblur="removeFocus('#menu{{i+1}}')"><img src="../public/images/dot.gif" /></a>
				{{/each}}
			</div>
		</div>
	</script>
	<script id="list" type="text/html">
		{{each list as v i}}
			<div id="weather-life-item{{i}}" class="weather-life-item">
				<div class="weather-life-item-inner">
					<div class="weather-life-inner-left">
						<img src="{{v.img | defaultImg:'../public/images/default/default3.png'}}" />
						{{if v.video}}
							<div class="icon-play weather-life-item-play"></div>
						{{/if}}
					</div>
					<div class="weather-life-inner-right">
						<h2 class="weather-life-item-title">{{#v.title}}</h2>
						<p class="weather-life-item-text">{{v.text}}</p>
					</div>
					<a class="A" href="{{v.href}}" onfocus="addFocus('#weather-life-item{{i}}')" onblur="removeFocus('#weather-life-item{{i}}')"><img src="../public/images/dot.gif" /></a>
				</div>
				<div class="weather-life-item-tag">
					<span>标签：</span>
					<span>
						{{each v.tag as vo i}}
							<a href="{{vo.href}}">{{vo.title}}</a><span class="breadcrumb-slash">/</span>
						{{/each}}
					</span>
				</div>
			</div>
		{{/each}}
	</script>
	<script type="text/javascript">
		var data = {
			headers: [{
				href: "#",
				active: false
			},{
				href: "#",
				active: false
			},{
				href: "#",
				active: true
			},{
				href: "#",
				active: false
			},{
				href: "#",
				active: false
			}],
			footers: [{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			}],
			lists: [{
				img: "../uploads/image3.png",
				title: "金秋十月<br>金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			},{
				img: "",
				title: "金秋十月金秋十月金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			},{
				img: "../uploads/image3.png",
				title: "金秋十月<br>金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			},{
				img: "",
				title: "金秋十月金秋十月金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			},{
				img: "../uploads/image3.png",
				title: "金秋十月<br>金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			},{
				img: "",
				title: "金秋十月金秋十月金秋十月",
				text: "旅游小助手又来啦！十月金秋，邀你一起到青秀山来看云",
				href: "#",
				video: false,
				tag: [{
					href: "#",
					title: "旅游"
				},{
					href: "#",
					title: "旅游"
				}]
			}]
		};
	
		var html = template('templateId', data);
		document.getElementById('root').innerHTML = html;

		pagination({
			template_id: "list",
			container_id: "listTpl",
			size: 4,
			row: 2,
			total: 6,
			items: data.lists,
			callback: function(text) {
				document.getElementById('listTpl').innerHTML = text;
			}
		});
	</script>
</body>
</html>