<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>橙色预警</title>
	<link rel="stylesheet" href="../public/css/common.css">
	<link rel="stylesheet" href="../public/css/weather-food.css">
	<script src="../public/js/template.js"></script>
</head>
<body style="background: url('../public/images/bg-duoyun.jpg') no-repeat;">
	<div id="root"></div>
		
	<script src="../public/js/common.js"></script>
	<script src="../public/js/pagination.js"></script>
	<script id="templateId" type="text/html">
		<div class="food-container"> 
			<h2 class="column">{{title}}</h2>
			<a href="{{href}}" class="{{if nav === 1}}subscribe{{else if nav === 2}}unsubscribe{{/if}}"><img src="../public/images/dot.gif" /></a>
			<div class="food-content">
				{{if lists.length}}
					<span class="prev"></span>
					<span class="next"></span>
					<ul class="border" id="listTpl"></ul>
				{{else}}
					<div style="text-align: center;font-size: 48px;color: #0a0a0a;margin-top: 166px">暂无内容，敬请期待。</div>
				{{/if}}
			</div>
		</div>
		<div id="footer">
			<div class="footer-menu">
				<span id="menu1" class="menu-1"></span>
				<span id="menu2" class="menu-2"></span>
				<span id="menu3" class="menu-3"></span>
				<span id="menu4" class="menu-4"></span>
			</div>
		</div>
		<div id="controller">
			<div class="con-footer">
				{{each footers as v i}}
					<a href="{{v.href}}" onfocus="addFocus('#menu{{i+1}}')" onblur="removeFocus('#menu{{i+1}}')"><img src="../public/images/dot.gif" /></a>
				{{/each}}
			</div>
		</div>
	</script>
	<script id="list" type="text/html">
		{{each list as v i}}
			<li id="food-list{{i}}"class="food-list">
				<div class="food-border">
					<img class="food-img" src="{{v.img | defaultImg: '../public/images/default/default8.png'}}" />
					<div class="food-detail">
						<h2 class="food-title">{{v.title}}</h2>
						<p class="title-detail">{{v.text}}</p>
					</div>
					<a class="A" href="{{v.href}}" onfocus="addFocus('#food-list{{i}}')" onblur="removeFocus('#food-list{{i}}')"><img src="../public/images/dot.gif" /></a>
				</div>
			</li>
		{{/each}}
	</script>
	<script type="text/javascript">
		var data = {
			title: "美食",
			href: "#",
			footers: [{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			}],
			nav: 2,
			lists: [{
				title: "酱萝卜",
				text: "今天为大家推荐一款盛夏时节的消暑小菜——酱萝卜的做法。",
				img: "",
				href: "#"
			},{
				title: "酱萝卜",
				text: "今天为大家推荐一款盛夏时节的消暑小菜——酱萝卜的做法。",
				img: "",
				href: "#"
			},{
				title: "酱萝卜",
				text: "今天为大家推荐一款盛夏时节的消暑小菜——酱萝卜的做法。",
				img: "",
				href: "#"
			},{
				title: "酱萝卜",
				text: "今天为大家推荐一款盛夏时节的消暑小菜——酱萝卜的做法。",
				img: "",
				href: "#"
			},{
				title: "酱萝卜",
				text: "今天为大家推荐一款盛夏时节的消暑小菜——酱萝卜的做法。",
				img: "",
				href: "#"
			}]
		};
		var html = template('templateId', data);
		document.getElementById('root').innerHTML = html;
		pagination({
			template_id: "list",
			container_id: "listTpl",
			size: 3,
			row: 3,
			total: 5,
			items: data.lists,
			callback: function(text) {
				document.getElementById('listTpl').innerHTML = text;
			}
		});
	</script>
</body>
</html>