<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>气象科教</title>
	<link rel="stylesheet" href="../public/css/common.css" />
	<link rel="stylesheet" href="../public/css/weather-life.css" />
	<link rel="stylesheet" href="../public/css/weather-kejiao.css" />
	<script src="../public/js/template.js"></script>
</head>
<body style="background: url('../public/images/bg-duoyun.jpg') no-repeat;">
	<div id="root"></div>
	<script src="../public/js/common.js"></script>
	<script src="../public/js/pagination.js"></script>
	<script id="templateId" type="text/html">
		<div id="header">
			<div class="header-nav">
				{{each headers as v i}}
					<span id="nav{{i+1}}" class="nav-{{i+1}} {{if v.active}}active{{/if}}"></span>
				{{/each}}
			</div>
		</div>
		
		<div class="weather-life-container">
			{{if lists.length}}
				<div class="prev"></div>
				<div id="listTpl" class="weather-life-body"></div>
				<div class="next"></div>
			{{else}}
				<div style="text-align: center;font-size: 48px;color: #0a0a0a;margin-top: 166px">暂无内容，敬请期待。</div>
			{{/if}}
		</div>
	
		<div id="footer">
			<div class="footer-menu">
				<span id="menu1" class="menu-1"></span>
				<span id="menu2" class="menu-2"></span>
				<span id="menu3" class="menu-3"></span>
				<span id="menu4" class="menu-4"></span>
			</div>
		</div>
		<div id="controller">
			<div class="con-header">
				{{each headers as v i}}
					<a href="{{v.href}}" onfocus="addFocus('#nav{{i+1}}')" onblur="removeFocus('#nav{{i+1}}')"><img src="../public/images/dot.gif" /></a>
				{{/each}}
			</div>
			<div class="con-footer">
				{{each footers as v i}}
					<a href="{{v.href}}" onfocus="addFocus('#menu{{i+1}}')" onblur="removeFocus('#menu{{i+1}}')"><img src="../public/images/dot.gif" /></a>
				{{/each}}
			</div>
		</div>
	</script>
	<script id="list" type="text/html">
		{{each list as v i}}
			<div id="weather-life-item{{i}}" class="weather-life-item">
				<div id="list{{i}}" class="weather-kejiao-box">
					<img src="{{v.img | defaultImg: '../public/images/default/default4.png'}}" />
					<div class="title">{{v.title}}</div>
					<div class="mask"></div>
					{{if i > 1}}
						<div class="weather-kejiao-box-bg"></div>
					{{/if}}
					<a class="A" href="{{v.href}}" onfocus="addFocus('#weather-life-item{{i}}'), addMarquee('#list{{i}}',17)" onblur="removeFocus('#weather-life-item{{i}}'), removeMarquee('#list{{i}}',17)"><img src="../public/images/dot.gif" /></a>
				</div>
			</div>
		{{/each}}
	</script>
	<script type="text/javascript">
		var data = {
			headers: [{
				href: "#",
				active: false
			},{
				href: "#",
				active: false
			},{
				href: "#",
				active: false
			},{
				href: "#",
				active: true
			},{
				href: "#",
				active: false
			}],
			footers: [{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			},{
				href: "#",
			}],
			lists: [{
				img: "../uploads/image4.png",
				title: "荒野求生第二季荒野求生第二季荒野求生第二季荒野求生第二季荒野求生第二季荒野求生第二季",
				href: "#"
			},{
				img: "",
				title: "荒野求生-第三季",
				href: "#"
			},{
				img: "../uploads/image4.png",
				title: "荒野求生-第二季",
				href: "#"
			},{
				img: "",
				title: "荒野求生-第三季",
				href: "#"
			},{
				img: "../uploads/image4.png",
				title: "荒野求生-第二季",
				href: "#"
			},{
				img: "",
				title: "荒野求生-第三季",
				href: "#"
			},{
				img: "../uploads/image4.png",
				title: "荒野求生-第二季",
				href: "#"
			},{
				img: "",
				title: "荒野求生-第三季",
				href: "#"
			}]
		};
	
		var html = template('templateId', data);
		document.getElementById('root').innerHTML = html;

		pagination({
			template_id: "list",
			container_id: "listTpl",
			size: 4,
			row: 2,
			total: 8,
			items: data.lists,
			callback: function(text) {
				document.getElementById('listTpl').innerHTML = text;
			}
		});


		var title = "";
		function addMarquee(id, size){
			size = size || 0;
			var reg = new RegExp("(<|<\/)marquee>", "g");
			var element = document.querySelector(id);
			title = element.children[1].innerHTML.replace(reg, "");
			if(title.length > size){
				element.children[1].innerHTML = "<marquee>"+title+"</marquee>";
			}
		}
		function removeMarquee(id, size){
			size = size || 0;
			var element = document.querySelector(id);
			if(!title) {
				var reg = new RegExp("(<|<\/)marquee>", "g");
				title = element.children[1].innerHTML.replace(reg, "");
			}
			if(title.length > size){
				element.children[1].innerHTML = title;
			}
		}
	</script>
</body>
</html>